@import '../../styles/variables.scss';

.inputContainer {
	padding: 0 0.5em;
	// display: flex;
	// flex-direction: column;
	// align-items: center;

	.label {
		text-align: center;
		padding: 1em 0;
		font-size: 1rem;
	}

	.input {
		font-size: 0.9rem;
		width: calc(100% - 0.5em);
		text-align: center;
	}
}
