@import '../../styles/variables.scss';

.inputContainer {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;

	.label {
		text-align: center;
		padding: 1em 0;
		font-size: 1rem;
	}

	.input {
		font-size: 0.9rem;
		width: 100%;
		text-align: center;
	}
}
